.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url("../../assets/img/Lago.jpg");
  background-size: cover;
  background-position: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 25px 20px;
  background: rgba(48, 93, 133, 0.4); /* Transparente */
  border-radius: 30px;
  border: 1px solid #ffffff44;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transition: transform 0.3s ease;
  color: #fff;
}

.login-form:hover {
  transform: scale(1.02);
}

.login-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login-logo {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 6px rgba(0, 4, 0, 0.5);
}

.login-error {
  color: #ff4d4d;
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.login-input {
  width: 100%;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 8px;
  border: none;
  background-color: rgba(42, 74, 108, 0.411);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
              0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.login-input:focus {
  outline: none;
  border: 1px solid #0fafff;
  background-color: rgba(42, 74, 108, 1);
}

.login-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 8px;
}

.login-button:hover {
  background-color: #0554b3;
  transform: scale(1.01);
}

.visitante-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #aaa;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 8px;
}

.visitante-button:hover {
  background-color: #888;
  transform: scale(1.01);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::placeholder {
  color: #cfcfcf;
}


.login-cadastro-link button {
  background: none;
  border: none;
  color: #f3f3f3;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.1s ease; /* Adiciona uma transição suave */
}

.login-cadastro-link button:hover {
  transform: scale(1.10); /* Aumenta em 5% */
  text-decoration: none; /* Opcional: remove o underline no hover */
}