/* HEADER E LOGO */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5%;
  width: 100%;
  padding: 15px 0;
  background: #7EB7F5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.637);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 100%;
}

.navListLeft,
.navListRight {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  align-items: center;
}

.navListRight {
  justify-content: flex-end;
  flex-grow: 1;
}

.logoContainer {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 20px;
}

.logo {
  height: 80px;
  width: 80px;
}

.activeLabel {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  min-width: 80px;
  text-align: left;
}