.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5%;
  width: 100%;
  padding: 15px 0;
  background: rgba(7, 107, 195, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Container do nav */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: 100%; /* Garante que os itens fiquem dentro do header */
}

/* Listas de navegação */
.navListLeft,
.navListRight {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  align-items: center;
}

/* Direita ocupa o restante */
.navListRight {
  justify-content: flex-end;
  flex-grow: 1;
}

/* Ícones */
.navListLeft img,
.navListRight img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

/* Container interno dos itens */
.navListLeft div,
.navListRight div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Mantém o item dentro do header */
  overflow: hidden;
}

/* Texto oculto inicialmente */
.navListLeft div div,
.navListRight div div {
  font-size: 12px;
  color: black;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  max-height: 16px;
  transition: opacity 0.3s ease;
  line-height: 1;
}

/* Mostrar texto ao hover */
.navListLeft li:hover div div,
.navListRight li:hover div div {
  visibility: visible;
  opacity: 1;
}

.navListLeft li.active img,
.navListRight li.active img {
  filter: brightness(00%) saturate(00%) invert(00%) sepia(00%) saturate(000%) hue-rotate(000deg) contrast(000%);
}