
.cadastro-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 320px;
    padding: 25px 20px;
    background: rgba(48, 93, 133, 0.4);
    border-radius: 30px;
    border: 1px solid #ffffff44;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: #fff;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    transition: transform 0.3s ease;
  }
  
  .cadastro-container:hover {
    transform: scale(1.02);
  }
  
  .cadastro-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
  
  .cadastro-container label {
    font-size: 14px;
    margin-bottom: 2px;
    margin-left: 5px; /* opcional, só pra dar leve distância da esquerda */
  }
  
  .cadastro-container input,
  .cadastro-container button {
    width: 100%;
    max-width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    background-color: rgba(42, 74, 108, 0.8);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
                0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
  }
  
  .cadastro-container input::placeholder {
    color: #cfcfcf;
  }
  
  .cadastro-container input:focus {
    outline: none;
    border: 1px solid #0fafff;
    background-color: rgba(42, 74, 108, 1);
  }
  
  .cadastro-container button {
    background-color: #0d6efd;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .cadastro-container button:hover {
    background-color: #0554b3;
    transform: scale(1.01);
  }
  
  .cadastro-container button[type="button"] {
    background-color: #aaa;
    margin-top: 5px;
  }
  
  .cadastro-container button[type="button"]:hover {
    background-color: #888;
  }

  .cadastro-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .cadastro-logo {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 4, 0, 0.5);
  }
  
.cadastro-title-container {
  font-size: 0.7rem;    
  font-weight: 300;
  color: #ffffff;   
  font-family: 'Poppins', -apple-system, sans-serif;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.25;
}